body {
    padding: 0;
    margin: 0;
}

#course-header {
    width: 100%;
    height: auto;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    position: sticky;
    top: 0;
}

nav {
    width: 1200px;
    height: 71px;
    position: relative;
    margin: 0 auto;
    text-align: right;
}

nav a {
    display: inline-block;
    padding: 24px 5px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgb(4, 170, 109);
    text-decoration: underline;
}

main {
    display: flex;
}

#container {
    width: calc(100% - 570px);
    margin-left: 250px;
}

#sidebar {
    width: 320px;
    height: calc(100vh - 70px);
    text-align: center;
}

#courseOverview {
    width: calc(100% - 100px);
    padding: 20px 50px;
}

#courseOverview h1 {
    text-align: center;
    font-size: 40px;
}

#courseOverview p {
    margin-bottom: 35px;
}

#main-content {
    width: calc(100% - 80px);
    height: auto;
    padding: 0px 30px;
    margin-bottom: 50px;
}

.title {
    font-size: 40px;
}

.list {
    margin: 30px 0px;
}

.list-item {
    margin-bottom: 10px;
}

.example {
    width: calc(100% - 40px);
    height: auto;
    padding: 5px 20px 30px;
    margin-bottom: 50px;
    background-color: rgb(83, 118, 153, 0.5);
    border: none;
    border-radius: 10px;
}

.example-content {
    width: calc(100% - 65px);
    height: auto;
    padding: 15px 30px;
    background-color: #fff;
    border-left: 5px solid goldenrod;
}

.code {
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 216, 216, .5);
    padding: 0 4px;
}

.note {
    width: calc(100% - 80px);
    height: auto;
    padding: 5px 40px;
    background-color: rgb(255, 255, 204);
}

.note p {
    font-size: 15px;
}

.lg-note {
    background-color: rgb(217,238,225);
    width: calc(100% - 70px);
    height: auto;
    padding: 20px 35px;
    border-radius: 3px;
}

#contact-form {
    width: calc(100% - 80px);
    height: auto;
    margin: auto;
    background-color: darkgray;
    border-radius: 7px;
    padding: 30px;
}

#contact-form input, #contact-form textarea {
    width: calc(100% - 30px);
    height: auto;
    padding: 7px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

#contact-form textarea {
    height: 100px;
}

.button {
    width: 100%;
    padding: 15px 0px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

#course-footer {
    width: calc(100% - 250px);
    height: 350px;
    background-color: black;
    display: flex;
    margin-left: 250px;
    padding-bottom: 90px;
    color: white;
}

.footer-col {
    width: 33.33%;
    height: 310px;
    padding: 20px;
}

.footer-list {
    width: calc(33.33%-40px);
    height: 310px;
    margin: 0;
}

.footer-list-item {
    list-style: none;
    padding: 10px 0px;
}

.my-3-col {
    width: 100%;
    height: auto;
    display: flex;
}

.my-3-col > div {
    width: calc(33% - 10px);
    height: auto;
    padding: 10px;
}

.ref-btn {
    padding: 15px 38px;
    margin: 5px 3px;
    border: none;
    border-radius: 3px;  
    background-color: rgb(231,233,235);
}

.ref-btn-sm {
    padding: 9px 18px;
    margin: 3px 1px;
    border: none;
    border-radius: 3px;  
    background-color: rgb(231,233,235);
}

.ref-btn:hover, .ref-btn-sm:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(85,85,85);
}

.js-comment {
    color: rgb(0,128,0);
}

.js-keyword {
    color: rgb(0,0,200);
}